<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ACA Kursliste</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/datatables/1.10.19/css/dataTables.bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/datatables/1.10.19/css/jquery.dataTables.css}">

    <link rel="stylesheet" th:href="@{/public/css/courseList.css}">
    <link rel="stylesheet" th:href="@{/public/css/main.css}">
</head>
<body>

<div data-th-insert="fragments/header.html :: header"></div>


<div class="container">
    <div class="col-10 offset-1">
        <form id="searchform" class="form-inline">
            <input type="search" placeholder="Search..." name="search" class="form-control">
            <button class="btn" id="searchButton"><i class="fa fa-search"></i> </button>

            <a class="btn" >create new course</a>
        </form>
    </div>


    <div id="tablediv" class="col-10 offset-1">
        <table class="table table-hover table-bordered" id="courseListTable">
            <thead class="thead-light">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Kurstyp</th>
                <th>aktiv</th>
            </tr>
            </thead>
            <tr class="clickable-row" data-th-each="course : ${courses}" data-th-data-href="'course/' + ${course.idExternal}">
                <td class="message" data-th-text="${course.idExternal}"></td>
                <td class="message" data-th-text="${course.name}"></td>
                <td class="message" data-th-text="${course.courseType.name}"></td>

                <td class="message">
                    <i th:if="${course.active}" class="fa fa-check"></i>
                    <i th:unless="${course.active}" class="fa fa-times"></i>
                </td>
            </tr>

        </table>
    </div>
</div>

</body>
<script th:src="@{/webjars/jquery/3.2.1/jquery.js}"></script>
<script th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/datatables/1.10.19/js/jquery.dataTables.js}"></script>
<script th:src="@{/public/js/courseList.js}"></script>
<script th:src="@{/public/js/main.js}"></script>
</html>