<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title data-th-text="'Detailansicht: ' + ${course.get().idExternal}"></title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/datatables/1.10.19/css/dataTables.bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/datatables/1.10.19/css/jquery.dataTables.css}">

    <link rel="stylesheet" th:href="@{/public/css/main.css}">
    <link rel="stylesheet" th:href="@{/public/css/courseDetail.css}">
</head>
<body>

<div data-th-insert="fragments/header.html :: header"></div>


<div id="courseinfo" class="col-8 offset-2">
    <h1 data-th-text="${course.get().idExternal} + ':  ' + ${course.get().name}"></h1>
    <div>
        <h5><span class="badge badge-success badge-pill" data-th-if="${course.get().active}">active</span></h5>
        <h5><span class="badge badge-danger badge-pill" data-th-unless="${course.get().active}">inactive</span></h5>
        <a class="btn btn-primary btn-lg fa fa-edit float-right" data-th-href="'/course/' + ${course.get().idExternal} + '/edit'"></a>
    </div>
    <br />
    <br />

    <!-- TODO add edit button -->

    <table class="table table-bordered table-striped">
        <tr>
            <td>description</td>
            <td data-th-text="${course.get().description}"></td>
        </tr>
        <tr>
            <td>course type</td>
            <td data-th-text="${course.get().courseType.name}"></td>
        </tr>
        <tr>
            <td>course language</td>
            <td data-th-text="${course.get().language.name}"></td>
        </tr>
        <tr>
            <td>maximum participants</td>
            <td data-th-text="${course.get().maxParticipants}"></td>
        </tr>
        <tr>
            <td>course duration</td>
            <td data-th-text="${course.get().courseDuration} + ' Minuten'"></td>
        </tr>
        <tr>
            <td>course preparation</td>
            <td data-th-text="${course.get().coursePreparation} + ' Minuten'"></td>
        </tr>
        <tr>
            <td>jobfamilies</td>
            <td>
                <ul class="list-group list-group-flush" data-th-each="jobfamily : ${course.get().jobFamilies}">
                    <li data-th-text="${jobfamily.name}"></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>trainers</td>
            <td>
                <ul class="list-group list-group-flush" data-th-each="trainer : ${course.get().trainers}">
                    <li data-th-text="${trainer.firstname} + ' ' + ${trainer.lastname}"></li>
                </ul>
            </td>
        </tr>
    </table>

    <br />
    <h3>Units:</h3>

    <div id="units">
        <div class="card" data-th-each="unit, iterationStat : ${course.get().units}">
            <h5 class="card-header " data-toggle="collapse" data-th-data-target="'#card' + ${iterationStat.count}">
                <i class="fa fa-plus-circle"></i>
                <span data-th-utext="'Unit ' + ${iterationStat.count} + ': ' + ${unit.name}"></span>
            </h5>

            <div class="card-body collapse" data-th-id="'card' + ${iterationStat.count}">
                <h6 class="card-title">time: </h6>
                <span data-th-text="'Von ' + ${unit.begin} + ' bis ' + ${unit.end}"></span>
                <br />
                <h6 class="card-title">contents: </h6>

                <table class="table">
                    <tr data-th-each="content : ${unit.contents}">
                        <td>
                            <i class="fa fa-dot-circle-o"></i>
                            <span data-th-text="${content.text}"></span>
                        </td>
                    </tr>
                </table>

                <br />
                <table class="table table-sm">
                    <thead class="bg-secondary text-white">
                    <tr>
                        <td>competence</td>
                        <td>level</td>
                    </tr>
                    </thead>
                    <tbody>
                        <tr data-th-each="unitCompetence : ${unit.unitCompetences}">
                            <td data-th-text="${unitCompetence.competence.name}"></td>
                            <td data-th-text="${unitCompetence.competenceLevel.name}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>


</body>
<script th:src="@{/webjars/jquery/3.2.1/jquery.js}"></script>
<script th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/datatables/1.10.19/js/jquery.dataTables.js}"></script>
</html>
