<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title >create course</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/datatables/1.10.19/css/dataTables.bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/datatables/1.10.19/css/jquery.dataTables.css}">

    <link rel="stylesheet" th:href="@{/public/css/main.css}">
    <link rel="stylesheet" th:href="@{/public/css/courseNew.css}">
</head>
<body>

<div data-th-insert="fragments/header.html :: header"></div>


<div id="courseinfo" class="col-8 offset-2">
    <form th:action="@{/course/edit}" th:object="${course}" method="post">

        <div class="form-group">
            <label for="idExternal" class="label_large">external id</label>
            <input type="text" class="form-control" id="idExternal" th:field="*{idExternal}">
        </div>
        <div class="form-group">
            <label for="name" class="label_large">name</label>
            <input type="text" class="form-control" id="name" th:field="*{name}">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="active" th:field="*{active}">
            <label class="form-check-label" for="active">active</label>
        </div>

        <br />

        <table class="table table-bordered table-striped">
            <tr>
                <td>
                    <label for="description">description</label>
                </td>
                <td>
                    <textarea class="form-control" rows="3" th:field="*{description}"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="courseType">course type</label>
                </td>
                <td>
                    <select id="courseType" th:field="*{courseType}">
                        <option th:each="courseType : ${courseTypes}"
                                th:value="${courseType.id}"
                                th:text="${courseType.name}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="language">course languagae</label>
                </td>
                <td>
                    <select id="language" th:field="*{language}">
                        <option th:each="language : ${languages}"
                                th:value="${language.id}"
                                th:text="${language.name}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="maxParticipants">max Participants</label>
                </td>
                <td>
                    <input id="maxParticipants" type="number" th:field="*{maxParticipants}" class="form-control" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="courseDuration">course Duration</label>
                </td>
                <td>
                    <input id="courseDuration" type="number" th:field="*{courseDuration}" class="form-control" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="coursePreparation">course preparation</label>
                </td>
                <td>
                    <input id="coursePreparation" type="number" th:field="*{coursePreparation}" class="form-control" />
                </td>
            </tr>
            <!-- TODO: add jobfamilies -->
            <tr>
                <td>
                    <label for="jobFamilies">jobfamilies</label>
                </td>
                <td>
                    <input id="jobFamilies" type="text" th:field="*{jobFamilies}" class="form-control" />
                </td>
            </tr>
            <!-- TODO: add trainers -->
            <tr>
                <td>
                    <label for="trainers">trainers</label>
                </td>
                <td>
                    <input id="trainers" type="text" th:field="*{trainers}" class="form-control" />
                </td>
            </tr>
        </table>

        <!-- TODO: add units etc. -->


        <div>
            <button type="submit" class="btn btn-success">create course</button>
        </div>
    </form>

</div>


</body>
<script th:src="@{/webjars/jquery/3.2.1/jquery.js}"></script>
<script th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/datatables/1.10.19/js/jquery.dataTables.js}"></script>
</html>
