#courseinfo {
    padding: 6px;
    margin-top: 4em;
}

ul {
    list-style-type: none;
}

div.card {
    margin-bottom: 1em;
}

h5.badge {
    display: inline;
}

a.btn {
    background-color: #003366 !important;
    border-color: #003366 !important;
}