#searchform {
    padding: 6px;
    margin-top: 4em;
}

#searchform a {
    margin-left: auto;
}

#tablediv {
    border-right: 5px;
}

#tablediv table {
    overflow: hidden;
}

a.btn {
    background-color: #003366 !important;
    border-color: #003366 !important;
    color: white !important;
}