body {

}
.navbar {
    color: white;
    background: #003366;
}
.navbar .nav-link {
    color: white;
}

.dropdown:hover .dropdown-menu{
    display: block;
}


.nav-item .nav-right {
    color: gray;
}

#blankdiv{
    width: 70px;
}

a.navbar-brand img {
    height: 30px;
    width: auto;
}

.clickable-row:hover {
    cursor: pointer;
}