<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>navbar for aca</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/datatables/1.10.19/css/dataTables.bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/datatables/1.10.19/css/jquery.dataTables.css}">

    <link rel="stylesheet" th:href="@{/public/css/courseList.css}">
    <link rel="stylesheet" th:href="@{/public/css/main.css}">
</head>
<body>
<nav class="navbar navbar-expand-sm fixed-top" th:fragment="header">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">
        <img th:src="@{/public/img/aca_logo_vollfarbe_weiss.png}"/>
    </a>

    <!-- TODO englisch header -->

    <!-- Dropdown -->
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop1" data-toggle="dropdown">
                Kurse
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/course?search">Kurse suchen</a>
                <a class="dropdown-item" href="/course/new">Kurse hinzufügen</a>

            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop3" data-toggle="dropdown">
                Kompetenzen
            </a>
            <div class="dropdown-menu">

                <a class="dropdown-item" href="#">Kompetenzen suchen</a>
                <a class="dropdown-item" href="#">Kompetenzen hinzufügen</a>


            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbardrop2">
                User
            </a>
            <!--
            <div class="dropdown-menu">

               <a class="dropdown-item" href="#">Link 1</a>
               <a class="dropdown-item" href="#">Link 2</a>
               <a class="dropdown-item" href="#">Link 3</a>

            </div>
             -->
        </li>

    </ul>
    <div class="navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-right" href="">Rolle </a>

                <div id="blankdiv">

                </div>
            </li>
            <li class="nav-item">
                <a class="nav-right" href="">Kürzel</a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>