<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"
          name="viewport">
    <meta name="description" content=""/>
    <meta name="author" content="Rafael Mohr"/>

    <title th:text="${status} + ' ' + ${error}">Error</title>

    
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <!-- <link rel="stylesheet" th:href="@{/webjars/ionicons/css/ionicons.min.css}"> -->
    <link rel="stylesheet" th:href="@{/public/assets/css/style.css}">
    <link rel="stylesheet" th:href="@{/public/assets/css/skins/deepblack.css}">

</head>

<body>
<div id="app">
    <section class="section">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
                    <div class="centered">
                        <br>
                        <h2>There has been an error!</h2>
                        <b>You are not authorized to view this.</b>
                    </div>

                    <div class="card">
                        <div class="card-header"><h4>Fehlerbeschreibung</h4></div>

                        <div class="card-body">

                            <p th:if="${path}">
                                <b>URL:</b> <span th:text="${path}">Page-URL</span>
                            </p>

                            <p th:if="${status}">
                                <b>Response-Status:</b>
                                <span th:text="${status}">status-code</span>
                                <span th:if="${error}" th:text="'('+${error}+')'">Error</span>
                            </p>

                            <p th:if="${timestamp}" id='created'>
                                <b>Occured:</b> <span th:text="${timestamp}">Timestamp</span>
                            </p>

                            <div th:if="${ex} or ${exception} or (${message} and ${message.length() != 0})">
                                <b>Cause:</b> <span th:if="${ex}" th:text="${ex}">Exception</span>
                                <span th:if="${exception}" th:text="${exception}">Exception</span>
                                <span th:if="${message} and ${message.length() != 0}" th:text="${message}">Message</span>
                            </div>

                            <p th:unless="${ex} or ${exception} or (${message} and ${message.length() != 0})">
                                Cause unknown (no exception details available)
                            </p>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/public/assets/js/popper/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/jquery.nicescroll/jquery.nicescroll.min.js}"></script>

<script th:src="@{/public/assets/js/scripts.js}"></script>
<script th:src="@{/public/assets/js/sa-functions.js}"></script>

</body>
</html>